---
---
* {
  box-sizing: border-box;
}
body{
    background-color: #F0F0F0;
    font-family: 'Courier New';
    height: 100%;
}
@media(prefers-color-scheme: dark){
body.dark-mode {
  background-color: #333;
  color: white;
  a:link{
    color: lightblue;
    }
  a:visited {
    color: lightblue;
    }
  .btn{
    background-color: #222;
    color: white;
  }
}
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.blog{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

main{
  flex: 1;
}

a:visited {
    color: blue;
}

.btn {
    background-color: #DDD;
    border: 1px;
    border-radius: 2px;
    font-size: x-large;
    aspect-ratio: 1/1;
    margin: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
}

.navitem {
    display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border-style: solid;
  position: relative;
}

ul li {
    padding: 5px;
}

.open {
    border-bottom: solid;
    padding-bottom: 10px;
}

.list{
    display: flexbox;
    float: left;
}

.pagemedia {
    display: flexbox;
    float: right;
}

fieldset {
  align-items: center;
  padding-left: 1%;
  border: 1px solid;
  border-color: #686868;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.floating{
	transition: transform linear;
  transition-duration: 2s;
}