---
---
* {
  --lmfc: black;
  --dmfc: white;
  box-sizing: border-box;
}
body{
    background-color: #F0F0F0;
    font-family: 'Courier New';
    height: 100%;
}

@media only screen and (max-width: 560px) {
  .tbtn{
    float: none !important;
    position: fixed !important;
    bottom: 0.5em;
    opacity: 0.5;
  }
}

@media(prefers-color-scheme: dark){
body.dark-mode {
  background-color: #333;
  color: var(--dmfc);
  a:link{
    color: lightblue;
    }
  a:visited {
    color: lightblue;
    }
  .tbtn{
    background-color: #222;
    color: white;
  }
  .tbtn:hover{
    background-color: #444;
  }
  a[target="_blank"]:after{
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20fill%3D%22white%22%3E%3Cpath%20d%3D%22M8.5%208.5H1.5V1.5H4v-1H1.5a1%201%200%200%200%20-1%201v7a1%201%200%200%200%201%201h7a1%201%200%200%200%201%20-1V6h-1z%22%2F%3E%3Cpath%20d%3D%22M9.5%200.5h-4l1.646%201.646L4.28%205.01l0.71%200.71%202.866%20-2.866%201.644%201.646z%22%2F%3E%3Cscript%2F%3E%3C%2Fsvg%3E");
  }
}
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.blog{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

main{
  flex: 1;
}

a:visited {
    color: blue;
}

a[target="_blank"]:after{
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20d%3D%22M8.5%208.5H1.5V1.5H4v-1H1.5a1%201%200%200%200%20-1%201v7a1%201%200%200%200%201%201h7a1%201%200%200%200%201%20-1V6h-1z%22%2F%3E%3Cpath%20d%3D%22M9.5%200.5h-4l1.646%201.646L4.28%205.01l0.71%200.71%202.866%20-2.866%201.644%201.646z%22%2F%3E%3Cscript%2F%3E%3C%2Fsvg%3E");
  display: inline-block;
  height: 1em;
  width: auto;
  padding-inline-start: 0.4em;
  aspect-ratio: 1;
  line-height: 2;
  vertical-align: text-top;
  font-size: 0.6em;
  white-space: nowrap;
}

.tbtn {
    background-color: #DDD;
    border: 1px;
    border-radius: 2px;
    font-size: x-large;
    width: 1.5em;
    aspect-ratio: 1/1;
    margin: 5px;
    position: absolute;
    float: left;
}
.tbtn:hover{
  background-color: #BBB;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
}

.navitem {
    display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border-style: solid;
  position: relative;
}

ul li {
    padding: 5px;
}

.open {
    border-bottom: solid;
    padding-bottom: 10px;
}

.list{
    display: flexbox;
    float: left;
}

.pagemedia {
    display: flexbox;
    float: right;
}

fieldset {
  align-items: center;
  padding-left: 1%;
  border: 1px solid;
  border-color: #686868;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.floating{
	transition: transform linear;
}