<!DOCTYPE html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "assets/styles/global.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<html lang="en">
    <body>
        <button id="dark-mode-toggle" class="tbtn">☾ </button>
        {%- include navigation.html -%}
        <div class="blog">
            <main>
                {{ content }}
            </main>
            
            {%- include footer.html -%}
        </div>
        <script src="{{ "assets/js/float.js" | relative_url }}" defer></script>
    </body>
    <script src="{{ "assets/js/dm_toggle.js" | relative_url }}" async></script>
</html>